<div
  *ngIf="!(signalr.state$ | async)"
  class="flex flex-col items-center justify-center w-dvw h-svh"
>
  <div class="w-32 h-32 bg-primary-blue-200 animate-ping rounded-full"></div>
</div>
<div class="h-svh pt-16">
  <div
    *ngIf="(signalr.state$ | async) && roomState && pokerRoomId"
    class="flex flex-col md:flex-row h-full"
  >
    <!-- ИГРОКИ -->
    <app-players-list
      [currentPlayerIsSpectator]="roomState.isSpectator"
      [votingIssue]="roomState.votingIssue"
      [roomId]="pokerRoomId"
      [players]="roomState.players"
      class="p-2 md:w-1/4 max-md:h-1/6 flex flex-col justify-items-center"
    />

    <!-- ГОЛОСОВАНИЕ -->
    <app-voting
      [roomId]="pokerRoomId"
      [roomState]="roomState"
      class="md:w-1/2 max-md:h-2/3 border-x border-primary-gray-light"
    />

    <!-- ЗАДАЧИ -->
    <app-issues-list
      *ngIf="pokerRoomId"
      [spectator]="roomState.isSpectator"
      [issues]="roomState.issues"
      [roomId]="pokerRoomId"
      [issueOrder]="roomState.issueOrder"
      class="p-2 md:w-1/4 max-md:h-1/4 flex flex-col justify-items-center"
    />
  </div>
</div>
