<div
  class="relative flex flex-col gap-2 border rounded bg-gray-50 border-gray-200 p-2"
>
  <app-icon-arrows-pointing-out
    *ngIf="spectator"
    cdkDragHandle
    class="absolute z-10 right-1 cursor-move text-gray-400 hover:text-gray-600"
  />
  <div
    [innerHTML]="replaceUrlsWithLinks(issue.title)"
    class="text-2xl break-words text-wrap px-4"
  ></div>

  <div class="flex flex-row items-center gap-4 border-t pt-2">
    <button
      *ngIf="spectator"
      (click)="selectVotingIssue()"
      class="btn-primary-outline text-lg font-bold"
    >
      Голосовать
    </button>
    <div class="flex flex-row gap-2 grow">
      <span class="text-xl font-bold select-none">Оценка: </span>
      <div
        matTooltip="Средняя"
        [matTooltipClass]="'border bg-gray-50 rounded'"
        class="flex justify-center items-center  bg-gray-200 text-black min-w-8 min-h-8 p-1 rounded-md"
      >
        <span *ngIf="issue.storyPoints" class="font-bold">{{
          issue.storyPoints
        }}</span>
        <span *ngIf="!issue.storyPoints" class="font-bold">-</span>
      </div>
      <div
        matTooltip="Фибоначчи"
        [matTooltipClass]="'border bg-gray-50 rounded'"
        class="flex justify-center items-center bg-gray-200 text-black min-w-8 min-h-8 p-1 rounded-md"
      >
        <span *ngIf="issue.storyPoints" class="font-bold">{{
          issue.fibonacciStoryPoints
        }}</span>
        <span *ngIf="!issue.storyPoints" class="font-bold">-</span>
      </div>
    </div>
    <button
      *ngIf="spectator"
      (click)="deleteIssue()"
      class="btn-danger text-lg font-bold"
    >
      <app-icon-trash />
    </button>
  </div>
</div>
