<div class="flex flex-row text-center content-center gap-2">
  <div class="w-11/12 flex items-center justify-center border border-gray-200 rounded p-2">
    <span class="text-3xl font-bold">{{ player.name }}</span>
  </div>
  <div  ngSwitch="{{getPointsState()}}" class="flex items-center justify-center border border-gray-200 p-1 rounded-lg w-20 h-24">
      <span *ngSwitchCase="'0'" class="text-gray-400 text-4xl">X</span>
      <span *ngSwitchCase="'1'" class="text-gray-400 text-4xl">...</span>
      <div *ngSwitchCase="'2'" class="w-full h-full bg-primary-blue-200 rounded-lg"></div>
      <span *ngSwitchCase="'3'" class="font-bold text-4xl">{{player.currentVotingPoint.value}}</span>
      <span *ngSwitchCase="'4'" class="text-red-300 text-4xl">X</span>
      <app-icon-eye *ngSwitchCase="'5'" [className]="'w-8 h-8 text-gray-400'"/>
  </div>
</div>
